<mat-toolbar>Perfil</mat-toolbar>
<div class="example-container mat-elevation-z8">

    <router-outlet></router-outlet>

    <mat-card class="example-card">
        
        <mat-card-content>
          <div class="margin-bottom">
            <p class="inline" id="nombre-usuario">Nombre de usuario: </p> <p class="inline">{{nombreUsuario}}</p> 
          </div>

          <div class="margin-bottom">
            <p class="inline" id="rol-usuario">Roles: </p> <p class="inline">{{rolesUsuario}}</p>
          </div>
        </mat-card-content>
      </mat-card>
  
  </div>