.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .inline {
    display: inline;
  }
  
  .margin-bottom{
    margin-bottom: 25px;
  }

  #nombre-usuario{
    font-weight: bold;
    font-size: larger;
  }   

  #rol-usuario{
    font-weight: bold;
    font-size: medium;
  }
  