.example-container{
    display: flex;
    flex-direction: column;
}
.example-container>*{
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
  }

.oneline{
    display: inline;
    width: 50%;
}

#botonNuevoPaciente{
    text-align: center;
    min-width: 25%;
    max-width: 25%;
    margin-left: 70%;
}