<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()" #consultaForm="ngForm">
  <div class="example-container">
    
    <button type="button" mat-raised-button color="accent" id="botonNuevoPaciente" (click)="dialogNuevoPaciente()">Nuevo paciente</button>
    
    <mat-form-field>
      <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControlPaciente" formControlName="paciente">
      <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
          {{ p.nombres }} {{p.apellidos}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
      
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha" [max]="maxFecha" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Temperatura" [(ngModel)]="temperatura" formControlName="temperatura">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pulso" [(ngModel)]="pulso" formControlName="pulso">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Ritmo Respiratorio" [(ngModel)]="ritmoRespiratorio" formControlName="ritmoRespiratorio">
    </mat-form-field>

    <!--<button mat-raised-button color="primary" type="submit" [disabled]="estadoBotonRegistrar()">Registrar</button>-->
    <button mat-raised-button color="primary" type="submit">Registrar</button>
    <button mat-raised-button color="primary" onclick="cancelar()">Cancelar</button>
  </div>
</form>