<mat-toolbar>Signos vitales</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet></router-outlet>

  <!--<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar paciente">
    </mat-form-field>
  </div>-->

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idSigno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID Signo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idSigno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idPaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID Paciente </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.idPaciente}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="temperatura">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.temperatura}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pulso">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pulso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ritmoRespiratorio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ritmoRespiratorio}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idSigno]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.idSigno)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>

</div>

<br>

<button mat-fab color="accent" style="float: right" routerLink='/signo/nuevo'>
  <mat-icon>create</mat-icon>
</button>